/node_modules
/bootstrap/cache
/public/hot
/public/storage
/storage/*.key
/storage
/storage/framework/views
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
